/*!
 * UI
 * Place all your regular CSS here. If you don't know where to write your css, write it here.
 * @tutorial https://web.dev/learn/css/flexbox/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/media-queries
 */

/* general */
body {
  background-color: var(--clr-primary-700);
  color: var(--clr-primary-200);
  font-family: var(--ff-primary);
}

.container {
  width: min(1600px, 100% - 10px);
  margin-inline: auto;
}

/* header */
.header--primary {
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: hsl(0, 0%, 0%, 85%);
}

.header--primary.sticky {
  background-color: hsl(0, 0%, 0%, 15%);
}

.primary-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-primary-800);
  font-size: var(--fs-nav-primary);
  font-weight: var(--fw-nav-primary);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  text-transform: capitalize;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
  height: 45px;
}

.nav-link a {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  transition: all 300ms ease;
}

.nav-link:hover a {
  border-bottom: 2px solid var(--clr-accent-600);
}

.nav-link--divider {
  border-right: 1px solid;
}

.nav__logo img {
  width: var(--logo-width);
  padding: 1rem 0;
}

.hamburger-menu {
  display: none;
}

.breadcrumb {
  font-size: var(--fs-nav-breadcrumb);
}
/* mobile specifics */
@media (max-width: 1050px) {
  /* mobile header */
  .header--primary {
    bottom: 0;
  }
  .primary-header__nav {
    position: relative;
  }

  /* mobile nav menu */
  .closed {
    transition: all 300ms ease-in-out;
    position: absolute;
    transform: translateY(120%);
  }

  .open {
    position: absolute;
    transition: all 300ms ease-in-out;
  }

  .hamburger-menu {
    display: block;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: var(--fs-cta-primary);
  }

  .primary-header__nav .nav-links {
    position: fixed;
    bottom: 3.4rem;
    right: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 95%);
    backdrop-filter: blur(1rem);
    justify-content: space-evenly;
    align-items: end;
    height: 25rem;
  }
  .primary-header__nav .nav-links li {
    border: 1px solid white;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
  }
}

/* Hero section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0.4)),
    url(/assets/silas-baisch-VhnEBuVUdvY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-primary-800);
  padding: var(--padding-hero);
  gap: 8rem;
}

.l-main {
  padding-top: var(--padding-main);
}

.hero-logo {
  font-family: var(--ff-secondary);
  font-size: var(--fs-heading-primary);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero > * {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.hero__text {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  text-align: center;
}

.hero__inputs__search {
  display: flex;
}

.hero__inputs__search__searchbar,
.hero__inputs__search__button {
  padding: 1rem 1.5rem;
  font-size: var(--fs-paragraph);
  border-radius: 10rem;
  border: none;
}
.hero__inputs__search__searchbar {
  overflow: hidden;
  z-index: 1;
  width: 25rem;
  max-width: 90svw;
}
.hero__inputs__search__button {
  font-size: var(--fs-cta-secondary);
  background-color: var(--clr-accent-600);
  color: var(--clr-primary-900);
  margin-left: -3.5rem;
  z-index: 2;
  transition: padding 250ms ease-in-out;
}

.hero__inputs__search__button:hover {
  padding: 1rem 2rem;
}

.cta {
  background-color: var(--clr-accent-600);
  padding: 1rem 2rem;
  font-size: var(--fs-cta-primary);
  font-weight: var(--fw-cta-primary);
  border-radius: 0.8rem;
  text-align: center;
  width: fit-content;
  transition: all 200ms ease-in-out;
}

.cta:hover {
  background-color: var(--clr-accent-800);
}

/* topics section */
.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  overflow: hidden;
}

.topic {
  padding: 2rem;
  background-color: var(--clr-primary-900);
  font-size: var(--fs-heading-card);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
  font-weight: var(--fw-heading-card);
  text-transform: capitalize;
  width: 20rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  transform: translateX(-60px);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.topic.showing {
  transform: translateX(0);
  opacity: 1;
}

/* footer */
.footer-primary {
  color: var(--clr-primary-800);
  background-color: var(--clr-primary-200);
  font-size: var(--fs-nav-breadcrumb);
  font-weight: var(--fw-nav-primary);
  text-transform: capitalize;
}

.footer__nav {
  display: grid;
  width: 100%;
  align-items: baseline;
  gap: 4rem;
}

.nav-categories {
  text-align: left;
}

.nav-links--footer {
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  gap: 4rem;
}

.nav__bottom {
  align-items: center;
}
.footer__nav img {
  width: 15rem;
}

/* post list page */
/* filter section */
.post-filters {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.post-filters__search {
  display: flex;
  align-items: center;
}

.post-filters__search-bar {
  overflow: hidden;
  min-height: 45px;
  border: 1px solid var(--clr-primary-500);
}

.post-filters__btn {
  background-color: var(--clr-accent-600);
  color: var(--clr-primary-900);
  margin-left: -2rem;
  font-size: var(--fs-cta-primary);
  border: 1px solid var(--clr-primary-500);
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border-left: none;
  padding: 0.7rem;
  width: 110px;
}

.post-filters__select {
  border-radius: 1rem;
  font-size: var(--fs-paragraph);
  padding: 1rem;
}

/* responsive post page */
@media (min-width: 495px) {
  .posts-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .posts-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .posts-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.posts-list {
  display: grid;
  grid-gap: 1em;
}

/* post cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 30rem;
  padding: 0 0 1rem 0;
  overflow: hidden;
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  gap: 1.2rem;
  border-radius: 2rem;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out,
    background-color 300ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-color: var(--clr-accent-600);
  background-color: var(--clr-primary-800);
}

.card:hover .card__img {
  transform: scale(1.05);
}

.card__img-link {
  max-height: 50%;
  width: 100%;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease-in-out;
}

.card__details,
.card__tagline,
.card__title {
  max-width: 95%;
}

.card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.swiper-slide .card__details {
  justify-content: center;
}

.card__cta {
  font-size: var(--fs-cta-card);
  padding: 1rem 1.5rem;
  color: white;
  text-transform: capitalize;
}

.posts-card {
  transform: translateY(40px);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.posts-card.showing {
  transform: translateY(0);
  opacity: 1;
}

/* hovering "to-top" button */

.to-top {
  position: fixed;
  bottom: 20vh;
  right: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
  width: var(--to-top-width);
}

.to-top img {
  border-radius: 50%;
  height: auto;
  background-color: var(--clr-darkened);
}

.to-top.visible {
  pointer-events: auto;
  opacity: 100%;
  z-index: 5;
}

.cta--secondary {
  font-size: var(--fs-cta-secondary);
  font-weight: var(--fw-cta-primary);
  color: var(--clr-contrast-400);
  transition: transform 250ms ease-in-out;
}

.cta--secondary:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.error-container,
.error-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-inline: auto;
}

.error-details {
  gap: 1rem;
}

/* blog post */

.post-container,
.post,
.post__list,
.post__list-item,
.post__section,
.post__text {
  display: grid;
}

.post__text,
.post__list {
  gap: 3rem;
}

.post-container {
  background-color: var(--clr-primary-900);
  line-height: 1.2;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: var(--fs-paragraph);
  line-height: 1.35;
  gap: 2rem;
}

.post-container p,
.post-container li {
  text-align: start;
  max-width: 80ch;
  width: 90%;
  margin-inline: auto;
}

.post__list-item {
  position: relative;
}

.post__section,
.post__list-item {
  gap: 1rem;
}

.post__list-item__heading {
  font-size: var(--fs-heading-card);
  display: list-item;
  margin-bottom: 1rem;
}

.post__img--banner {
  height: var(--banner-height);
  padding-top: 0;
}
.post__img--banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-details {
  display: flex;
  gap: 2rem;
}

.post {
  gap: 1.2rem;
}

dialog:modal {
  padding: 0;
}
dialog:modal::backdrop {
  background-color: rgba(0, 0, 0, 0.915);
}
